.title {
   font-size: 20px;
  background-color: aqua;
  display: flex;    
  justify-content: center; 
  align-items: center;    
}

.music {
  display: flex;    
  justify-content: center; 
  align-items: center;    
}

.picture {
  display: flex;    
  justify-content: center; 
  align-items: center;    
}

.box {
  background-color: burlywood;
  display: flex;    
  justify-content: center; 
  align-items: center;     
}


/* ダイステーブル */
.box2 {
  display: flex;    
  justify-content: center; 
  align-items: center;     
}

.dice-bord {
  width: 600px;
  height: 250px;
  background-color: darkgreen;
  border-style: solid;
  border-width: 20px;
  border-color:  brown; 
}

.dice-wrapper {
  display: flex;    
  gap: 20px;
  flex-wrap: nowrap;
}

/* 各ダイスアイテム：画像・文字・チェックボックスを縦に整列 */
.dice-wrapper > div {
  display: flex;
  flex-direction: column-reverse;  /* 中身を縦に並べる */
  align-items: center;     /* 中身を中央揃えにする */
  justify-content: center; 
  gap: 2px;                /* 隙間 */
  width: 150px;             /* 各列の幅を統一 */
  font-size: 25px;
  color: white;
  font-weight: bold;
}

#dice-item1 {
  size: 50px;
}


/* 画像のサイズ固定（ガタつき防止） */
.dice-wrapper img {
  display: block;
  margin: 0 auto;
  width: 80px 
}

input[type=checkbox] {
  font-size: 18px;
  -ms-transform: scale(3, 3);
  -webkit-transform: scale(3, 3);
  transform: scale(3, 3);
}

.box3 {
  background-color:burlywood;
  display: flex;    
  justify-content: center; 
  align-items: center;     
}

.opreatin {
  display: flex;    
  justify-content: center; 
  align-items: center;      
}

/* アウトプット */
.output-bord {
  background-color: rgb(226, 43, 61);
  display: flex;            /* 横並びにする */
  justify-content: space-around; /* 要素の周りに均等に余白を作る */
  align-items: center;      /* 上下中央に揃える */
  height: 100px;
}

.monitor {
  flex: 1;                  /* 各要素を同じ幅で広げる */
  text-align: center;       /* 中の文字を中央寄せにする */
  border: 10px solid gold;   /* 見た目確認用の枠線（不要なら消してください） */
  margin: 5px;              /* 要素間のスキマ */
}

#message {
  color: blue;
  font-weight: normal;
  font-size: 20px;
}

#score {
  color: green;
  font-weight: 600 ;
  font-size: 20px;
}

#greeting {
  color: aquamarine;
  font-weight: bold;
  font-size: 20px;
}

/* 開発のきっかけ */

.box4 {
  display: flex;    
  justify-content: center; 
  align-items: flex-start;
  gap: 20px;
}

.comment {
  width: 850px;
  background-color: rgb(195, 234, 195);
  border-style: solid;
  border-width: 10px;
  border-color:  rgb(60, 231, 254); 
  gap: 10px;
  white-space: nowrap;
  display: flex;    
  /* align-items: center; */
  justify-content: center; 
}

.picture-note{
  border-style: solid;
  border-width: 7.5px;
  border-color:  rgb(33, 9, 212); 
  gap: 5px;
  display: flex;    
  align-items: center;
  justify-content: center; 
}

.picture {
  display: flex;    
  flex-direction: center;
  gap: 30px;
  align-items: center;
}

.box5 {
  background-color: white;
  display: flex;    
  justify-content: center; 
  align-items: center;
}
